<div>
  <div class="language-selector">
    <div>
      <label for="languageDropdown">Language:</label>
      <select id="languageDropdown" class="ms-3" [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
        <option *ngFor="let lang of supportedLanguages" [value]="lang.value">
          {{ lang.label }}
        </option>
      </select>
    </div>
    <div>
      <button type="button" class="btn btn-warning me-3" (click)="code = ''">Clear</button>
      <button type="button" class="btn btn-success" (click)="runTheEditorCode()">Run ▶</button>
    </div>
  </div>
</div>


@if (isBrowser) {
  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
}

<div class="outputSectionMain">
  <div class="outputSectionHeader">
    <h5>Output</h5>
  </div>
  <div class="outputSectionBody">
    <iframe #iframeOutput sandbox="allow-scripts"></iframe>
    <h1>CONSOLE</h1>
    <div> LOOP
      @for (log of consoleOutput; track $index) {
        <div>{{log}}</div>
      }
    </div>
  </div>
</div>